body {
    background: #B79891;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font: 18px courier;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.tab {

    overflow: hidden;
    border: none;
    background-color: rgba(189, 162, 148, 0.521);
}

.tab button {
    background-color: #f0aa87bb;
    border: none;
    outline: rgba(189, 162, 148, 0.521);
    cursor: pointer;
    transition: 0.3s;
    color: darkslategrey;
    padding: 20px, 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 32.8%;
    height: 25px; 
}

.tab button:hover {
    background-color: rgba(189, 162, 148, 0.521);
}

.tab button.active {
    background-color: rgba(189, 162, 148, 0.521);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: rgba(189, 162, 148, 0.521);
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #b59e94;
  fill: #e5a88b
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}